<div class="jumbotron text-center">
    <h1>MEAN Jwt Authentication</h1>
    <p class="lead">Welcome MEAN stack Jwt authentication app. </p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-secondary" [routerLink]="['/login']">login</a>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express MongoDB Backend</h3>
        <p>NodeJs based backend, Express to manage all requests,
             mongodb to manage the database using Mongoose,
             bycrypt to encrypt saved passwords,
             passport-jwt to handle jwt tokens
        </p>
    </div>
    <div class="col-md-4">
        <h3>Angular Cli Forntend</h3>
        <p>Anuglar-Cli to generate components and services</p>
    </div>
    <div class="col-md-4">
        <h3>JWT tokens</h3>
        <p>JSON web tokens based authentication, for login and storing user data</p>
    </div>
</div>